@page "/about"

<div class="about">
    <h2>About</h2>
    <p>
        This is a simple recipe finder app that uses the Spoonacular API
        to search for recipes based on the user's input. The app is built with
        Angular and uses the HttpClient module to make HTTP requests to the API.
    </p>
    <p>
        To get started, simply enter a search query, cuisine and diet, and click the "Search" button. The app will fetch
        recipes that match your criteria and display them on the screen.
    </p>
    <p>
        Click on a recipe to view more details, including the ingredients and
        instructions.
    </p>
    <p>Thank you for using the recipe finder app!</p>
</div>
