.find-recipe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.find-recipe .search-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.find-recipe .search-form input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.find-recipe .search-form select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.find-recipe .search-form button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #F0E3D3;
  cursor: pointer;
}
.find-recipe .search-form button:hover {
  border: 1px solid #aaa;
}
.find-recipe .recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
