.recipe[b-2qldy78k0d] {
  background: #F0E3D3;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.recipe img[b-2qldy78k0d] {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.recipe h3[b-2qldy78k0d] {
  margin-top: 10px;
  font-size: 1.2rem;
}
.recipe p[b-2qldy78k0d] {
  margin-top: 10px;
  font-size: 1rem;
}
.recipe:hover[b-2qldy78k0d] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.025);
  cursor: pointer;
}
